.main-nav {
  display: flex;
  width: 100%;
  height: 120px;
  color: #FFFFFF;
  background-color: #4056A1;
  flex-direction: row;
  padding: 0 1.5em;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 42px;
  font-family: 'Bungee', sans-serif;
}

.text-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-text {
  font-size: 24px;
}

.nav-icon {
  display: flex;
  color: orangered;
  padding-top: 0.5em;
}