section.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: inherit;
}

label {
  display: inline-flex;
  width: 100%;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 26px;
}

textarea {
  width: 100%;
  border: none;
  background-color: inherit;
  resize: none;
  border-top: 5px solid #545149;
  padding: 10px;
  color:#545149;
}

div.tweet-box {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  padding-bottom: 70px;
}

.max-exceeded {
  color: #F13C1F;
}

.errorText {
  display: flex;
  margin-top: 20px;
  width: fit-content;
  color:#F13C1F;
  border: 5px solid #F13C1F;
  padding: 1em;
  font-weight: 800;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
}


button {
  padding: 0.6em 1em;
  border: 5px solid #4056A1;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  color: #4056A1;
  font-weight: bolder;
  font-size: 18px;
 }
 
 button:hover {
  transform: scale(1.2) rotate(10deg);
  background-color: #4056A1;
  color: white;
 }

 @media only screen and (max-width: 1080px) {
  label {
    padding-top: 70px;
  }
}